@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model Madrugada.ViewModels.Home.Index

@inject IViewLocalizer Localizer
@inject IStringLocalizer<Madrugada.Localization.GlobalSharedResource> GlobalSharedLocalizer


@{
    ViewData["Title"] = Localizer["HomePage"];
}

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div id="map"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div>
            最近更新
        </div>
        <div>
            @foreach (var item in Model.RecentlyUpdatedLocations)
            {
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                @if (item.CoverImage != null)
                                {
                                    if (item.CoverImage.HasThumbnail)
                                    {
                                        <img class="img-fluid" src="@item.CoverImage.ThumbUrl" />
                                    }
                                    else
                                    {
                                        <img class="img-fluid" src="@item.CoverImage.Url" />
                                    }
                                }
                            </div>
                            <div class="col-sm-8">
                                <p>@item.Name</p>
                                <p>@item.Address</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div>
            按作品
        </div>
    </div>
    <div class="col-md-4">
        热门
    </div>
</div>

